:root{
    --purple1:#62152D;
    --purple2:#4E1124;
    --grey:#B3B3B3;
    --box-shadow: 0 5px 2px -2px rgba(0,0,0,.25);
    --border: 1px solid var(--grey);
}

* {
    color: #414141;
    font-size: 15px;
    padding: 0; margin: 0;
    box-sizing: border-box;
    border: none; outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.headerOne, .headerTwo, .headerThree{
    padding: 0px 75px;
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerOne{
    background-color: black;
    height: 40px;
    text-align: center;
}

.headerOne p{
    font-size: 12.5px;
    color: white;
}

.headerTwo{
    background-color: white;
    height: 60px;
    justify-content: space-between;
}

.headerTwo .search{
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid var(--grey);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.headerTwo .search input{
    width: 220px;
    height: 20px;
}

.headerTwo .titleVinoteca{
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    width:300px;
}

.headerTwo .titleVinoteca h1{
    font-size: 40px;
    color: black;
}

.headerTwo .titleVinoteca a{
    width:300px;
}

.headerTwo .titleVinoteca i{
    font-size: 30px;
    color: black;
}

.headerTwo .icons{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.headerTwo .icons i{
    font-size: 30px;
    color: black;
}

.fa-cart-shopping{
    position: relative;
    cursor: pointer;
}

.countCartShopping{
    position: absolute;
    background-color: var(--purple1);
    color: #fff;
    width: 25px;
    height: 25px;
    top: 70px; right: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countCartShopping span{
    font-size: 12.5px;
    color: white;
}

.containerCartProducts{
    position: absolute;
    background-color: white;
    top: 140px; right:0;
    width: 400px;
    height: 100vh;
    padding: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.hidden-cart{
    display: none;
}

.cartProduct{
    text-align: left;
}

.cartProduct h2{
    font-size: 20px;
    font-weight: 900;
    color: var(--purple1);
}

.infoCartProduct{
    border-bottom: var(--border);
    display: flex;
}

.infoCartProduct img{
    width: 25px;
    margin: 25px 50px;
}

.infoCartProduct .infoRow{
    display: flex;
}

.infoCartProduct .info{
    width: 200px;
    margin: 25px 0px;
    text-align: left;
}

.infoCartProduct .delete{
    background-color: white;
}

.infoCartProduct .delete i{
    font-size: 25px;
    color: var(--purple2);
}

.containerCartProducts .cartTotal{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.containerCartProducts .cartTotal h3, .containerCartProducts .cartTotal span{
    font-size: 20px;
}

.cartEmpty{
    text-align: center;
}

.headerThree{
    background-color: white;
    height: 40px;
}

.headerThree nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.headerThree > nav > ul > li > a{
    font-size: 12.5px;
}

.fa-bars, .close{
    display: none;
}

.home{
    position: relative;
    height: 100vh;
    background-image: url(../recursos/Images/Fondo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsHome{
    position: absolute;
    background-color: white;
    bottom: 0;
    padding: 20px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.iconsHome > div{
    display: flex;
}

.iconsHome > div {
    font-size: 12.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.iconsHome > div i{
    font-size: 25px;
    color: black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsHome > div h2{
    width: 125px;
}

section > h2{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}

.wines, .tipesOfWines, .countries, .tipesOfGrapes, .recommendedWines, .newslatter, .allWines, .contact, .footer{
    padding: 0px 75px;
    display: flex;
    flex-direction: column;
}

.cardContainerWines, .cardContainerTipesOfWines, .cardContainerTipesOfGrapes, .cardContainerCountries{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cardContainerWines{
    background-color: var(--grey);
    padding: 15px 0px;
    text-align: center;
}

.cardWines{
    position: relative;
    background-color: white;
    width: 250px;
    text-align: center;
    padding: 15px;
}

.cardWines .fa-heart{
    position: absolute;
    color: var(--purple1);
    font-size: 20px;
    top: 15px;
    left: 15px;
}

.cardWines .fa-heart:hover{
    color: var(--purple2);
}

.cardWines img{
    height: 175px;
}

.cardWines .flag{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
}

.cardWines .score{
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
}

.cardWines .price{
    color: var(--purple1);
    font-size: 17.5px;
    font-weight: 900;
    padding: 10px 0px;
}

.cardWines .buttons{
    display: flex;
    justify-content: space-between;
}

.cardWines button{
    background-color: var(--purple1);
    padding: 5px 10px;
}

.cardWines button a{
    color: white;
}

.cardWines .fa-star, .cardWines .fa-star-half-stroke{
    color: var(--purple1);
    font-size: 20px;
}

.cardWines h3{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cardContainerTipesOfWines{
    justify-content: space-between;
    gap: 15px;
}

.cardTipesOfWines{
    position: relative;
    width: 275px;
    height: 375px;
    overflow: hidden;
    flex-direction: column;
}

.cardTipesOfWines img{
    width: 100%;
    height: 100%;
    transition: 1s ease; 
}

.cardTipesOfWines:hover > img{
    transform: scale(1.15);
}

.cardTipesOfWines .text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease; 
    background-color: rgb(0, 0, 0, 0.25);
}


.cardTipesOfWines .text h3 a{
    color: white;
    font-size: 25px;
}

.cardContainerTipesOfGrapes img{
    width: 95px;
}

.cardContainerTipesOfGrapes{
    gap: 5px;
}














.cardContainerCountries{
    background-color: black;
    padding: 25px 15px;
}

.cardContainerCountries i{
    font-size: 20px;
    color: white;
}

.cardContainerCountries .cardCountries{
    border: 1px solid white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.cardCountries img{
    width: 37.5px;
    height: 37.5px;
}

.cardContainerCountries .cardCountries h3{
    font-weight: 400;
    color: white;
    padding: 10px 15px;
    width: 62.5px;
}

.recommendedWines{
    padding-bottom: 25px;
}

.newslatter{
    background-color: var(--purple2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newslatterTitle{
    color: white;
}

.newslatter p{
    font-size: 17.5px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.newslatter input{
    width: 300px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid var(--grey);
}

.newslatter button{
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
}



.allWines{
    padding: 190px 75px 50px 75px;
    display: flex;
    flex-direction: row;
}

.filters{
    width: 20%;
    height: 420px;
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
    overflow-y: scroll;
}

.filters::-webkit-scrollbar{
    width: 7.5px;
}

.filters::-webkit-scrollbar-thumb{
    background-color: var(--purple1);
    border-radius: 7.5px;
}

.filters h3{
    font-size: 20px;
    padding: 15px;
    border-bottom: var(--border);
}

.filters .acordeon{
    background-color: white;
    padding: 10px 20px;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.active, .filters .acordeon:hover{
    background-color: #f7f7f7;
}

.panel{
    display:none;
    padding: 10px;
}

input[type="checkbox"]{
    accent-color: var(--purple1);
}

.cardContainerWiness{
    background-color: var(--grey);
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 15px 0px;
}





.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    color: red;
    margin-top: 20px;
}


/* CONTACTANOS */

.contact{
    padding-top: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    min-height: 500px;
    line-height: 3;
}

.formulario{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width:80%;
    margin: auto;
}

.formuYcomentarios{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width:100%
}

.contenedorFormulario{
    display: flex;
    flex-direction: column;
    width:100%;
    margin: auto;

}

.formulario{
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}

.titulo h2{
    text-align: center;
    font-size:1em;
    color: var(--purple1);
}

.formulario input{
    height: 25px;
    padding-left: 10px;
    width:48%;
    border:1px solid gray;

}

.comentario{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width:100%;
    height: 50%;
    padding: 10px;
    font-size: 1.3rem;
}

.comentario input{
    position: relative;
    width:100%;
    height:200px;
    padding-left: 10px;
}

.comentario p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: lighter;
    opacity: 0.7;

}

h2{
    font-size: 1rem;
}

.comentario > button{
    position: relative;
    background-color:var(--purple1);
    max-width: 800px;
    width:80%;
    height: 40px;
    color:#fff;
    border-radius: 7px;
    border: 1px solid #fff;
    cursor: pointer;

}










.footer{
    background-color: black;
    padding:25px 0px;
}

.footer .links{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .links div{
    width: 250px;
}

.footer .links div h3{
    font-size: 17.5px;
    color: white;
    margin-bottom: 10px;
}

.footer .links div p{
    color: white;
}

.footer .icons-rrss{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer .icons-rrss button{
    background-color: var(--purple2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer .icons-rrss button:hover{
    background-color: var(--purple1);
}

.footer .icons-rrss i{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    background-color: #111111;
    padding: 5px;
    text-align: center;
}




@media (max-width:991px){

    .search{
        display: none !important;
    }

    .fa-bars, .close{
         display: block;
     }
 
     .close{
         padding: 5px 10px;
         background-color: var(--grey);
     }
 
     .close i{
         font-size: 20px;
         color: var(--purple1);
     }
 
     .navVinos{
         opacity: 0;
         visibility: hidden;
         position: absolute;
         background-color: var(--grey);
         top: 0;
         left: 0;
         bottom: 0;
         height: 100vh;
         width: 200px;
         padding: 10px;
         box-shadow: var(--box-shadow);
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 5px;
     }
 
     .navVinos.visibility{
         opacity: 1;
         visibility: visible;
         z-index:1000;
     }

     .headerOne, .headerTwo, .headerThree, .wines, .tipesOfWines, .countries, .tipesOfGrapes, .recommendedWines, .newslatter, .allWines, .contact, .footer{
        padding: 0px 25px;
    }

    .cardContainerWines, .cardContainerTipesOfWines, .cardContainerTipesOfGrapes, .cardContainerCountries{
        justify-content: space-evenly;
        gap: 15px;
    }

    .recommendedWines{
        padding-bottom: 25px;
    }

    .footer{
        padding:25px 0px;
    }

    .allWines{
        display: flex;
        flex-direction: column;
        padding: 190px 25px 25px 25px;
    }

    .filters, .cardContainerWiness{
        width: 100%;
        height: auto;
    }

    .filters{
        border-bottom: none;
        border-right: var(--border);
    }

    .contact{
        padding-top: 190px;
    }

    .contact input, .contact textarea{
        width: 390px;
    }

}