:root{
    --purple1:#62152D;
    --purple2:#4E1124;
    --grey:#B3B3B3;
    --box-shadow: 0 5px 2px -2px rgba(0,0,0,.25);
    --border: 1px solid var(--grey);
}

* {
    color: #414141;
    font-size: 15px;
    padding: 0; margin: 0;
    box-sizing: border-box;
    border: none; outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.headerOne, .headerTwo, .headerThree{
    padding: 0px 75px;
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerOne{
    background-color: black;
    height: 40px;
}

.headerOne p{
    color: white;
}

.headerTwo{
    background-color: white;
    height: 60px;
    justify-content: space-between;
}

.headerTwo .search{
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid var(--grey);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.headerTwo .search input{
    width: 220px;
    height: 20px;
}

.headerTwo .titleVinoteca{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.headerTwo .titleVinoteca h1{
    font-size: 40px;
    color: black;
}

.headerTwo .titleVinoteca i{
    font-size: 30px;
    color: black;
}

.headerTwo .icons{
    width: 250px;
    text-align: right;
}

.headerTwo .icons i{
    font-size: 30px;
    color: black;
    padding: 5px;
}

.fa-cart-shopping{
    position: relative;
}

.countCartShopping{
    position: absolute;
    background-color: var(--purple1);
    color: #fff;
    width: 25px;
    height: 25px;
    top: 70px; right: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countCartShopping span{
    font-size: 12.5px;
    color: white;
}

.containerCartProducts{
    position: absolute;
    background-color: white;
    top:100; right:0;
    width: 400px;
    height: 100vh;
    padding: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.hidden-cart{
    display: none;
}

/* .cartProduct{
    text-align: left;
}

.cartProduct .close{
    font-size: 20px;
    font-weight: 900;
    background-color: #d9d9d9;
    color: var(--purple2);
    text-align: left;
}

.infoCartProduct{
    border-bottom: var(--border);
    display: flex;
}

.infoCartProduct img{
    width: 25px;
    margin: 25px 50px;
}

.infoCartProduct .infoRow{
    display: flex;
}

.infoCartProduct .info{
    width: 200px;
    margin: 25px 0px;
    text-align: left;
}

.infoCartProduct .delete{
    background-color: #d9d9d9;
}

.infoCartProduct .delete i{
    font-size: 25px;
    color: var(--purple2);
}

.containerCartProducts .cartTotal{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.containerCartProducts .cartTotal h3, .containerCartProducts .cartTotal span{
    font-size: 20px;
}

.cartEmpty{
    text-align: center;
} */

.headerThree{
    background-color: white;
    height: 40px;
}

.headerThree nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerThree > nav > ul > li > a{
    font-size: 12.5px;
    padding: 0px 10px;
}

.headerThree > nav > ul > li > a:hover{
    color: black;
}

.home{
    position: relative;
    height: 100vh;
    background-image: url(../recursos/Images/Fondo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsHome{
    position: absolute;
    background-color: white;
    top: 90.25%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.iconsHome > div{
    display: flex;
}

.iconsHome > div {
    font-size: 12.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.iconsHome > div i{
    font-size: 25px;
    color: black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsHome > div h2{
    width: 125px;
}

section > h2{
    color: black;
    font-size: 25px;
    padding: 50px;
    text-align: center;
}

.wines, .tipesOfWines, .countries, .tipesOfGrapes, .recommendedWines, .newslatter, .allWines, .contact, footer{
    padding: 0px 75px;
    display: flex;
    flex-direction: column;
}

.cardContainerWines, .cardContainerTipesOfWines, .cardContainerTipesOfGrapes, .cardContainerCountries{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.wines-tittleOne{
    margin-top: 32.5px;
}

.cardContainerWines{
    background-color: var(--grey);
    padding: 15px 0px;
    text-align: center;
}

.cardWines{
    position: relative;
    background-color: white;
    width: 250px;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardWines .fa-heart{
    position: absolute;
    color: var(--grey);
    font-size: 20px;
    top: 15px;
    left: 15px;
}

.cardWines .fa-heart:hover{
    color: var(--purple2);
}

.cardWines img{
    height: 175px;
}

.cardWines .flag{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
}

.cardWines .score{
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
}

.cardWines .price{
    color: var(--purple1);
    font-size: 17.5px;
    font-weight: 900;
    padding: 10px 0px;
}

.cardWines .buttons{
    display: flex;
    justify-content: space-between;
}

.cardWines button{
    background-color: var(--grey);
    padding: 5px 10px;
}

.cardWines .fa-star, .cardWines .fa-star-half-stroke{
    color: var(--purple2);
    font-size: 20px;
}

.cardWines h3{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cardContainerTipesOfWines{
    justify-content: space-between;
    gap: 15px;
}

.cardTipesOfWines{
    position: relative;
    width: 275px;
    height: 375px;
    overflow: hidden;
    flex-direction: column;
}

.cardTipesOfWines img{
    width: 100%;
    height: 100%;
    transition: 1s ease; 
}

.cardTipesOfWines:hover > img{
    transform: scale(1.15);
}

.cardTipesOfWines .text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease; 
    opacity: 0;
    visibility: hidden;
    background-color: rgb(0, 0, 0, 0.5);
}


.cardTipesOfWines .text h3 a{
    color: white;
    font-size: 25px;
}

.cardTipesOfWines:hover > .text{
    opacity: 1;
    visibility: visible;
}

.cardContainerTipesOfGrapes img{
    width: 175px;
}

.cardContainerTipesOfGrapes{
    gap: 15px;
}














.cardContainerCountries{
    background-color: black;
    padding: 25px;
}

.cardContainerCountries i{
    font-size: 20px;
    color: white;
}

.cardContainerCountries .cardCountries{
    border: 1px solid white;
    text-align: center;
    display: flex;
}

.cardCountries img{
    width: 37.5px;
    height: 37.5px;
}

.cardContainerCountries .cardCountries h3{
    font-weight: 400;
    color: white;
    padding: 10px 15px;
    width: 62.5px;
}

.newslatter{
    margin-top: 25px;
    background-color: var(--purple2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newslatterTitle{
    color: white;
}

.newslatter p{
    font-size: 17.5px;
    color: white;
    margin-bottom: 15px;
}

.newslatter input{
    width: 300px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid var(--grey);
}

.newslatter button{
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 25px;
}



.allWines{
    margin: 0px 75px;
    padding-top: 140px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.cardContainerWiness{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.acordeon{
    cursor:pointer;
    padding: 20px;
    border:none;
    text-align: left;
    align-items: center;
    outline:none;
    font-size: 16px;
    height: 20px;
}

.active, .acordeon:hover{
    background-color:#62152D;
    color:#fff;
}

.panel{
    overflow: hidden;
    display:none;
}

.row{
    display:flex;
    flex-direction: row;
}

.filters{
    position: relative;
    display:flex;
    flex-direction: column;
    min-width: 300px;
    height: auto;
 
}

.filters label{
    color: var(--purple1);
    display:flex;
    flex-direction:column;
}

.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    color: red;
    margin-top: 20px;
}

.wines{
flex-direction: column;
}














.footer{
    background-color: black;
    padding: 25px 75px;
}

.footer .links{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .links div{
    width: 250px;
}

.footer .links div h3{
    font-size: 17.5px;
    color: white;
    margin-bottom: 10px;
}

.footer .links div p{
    color: white;
}

.footer .icons-rrss{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer .icons-rrss button{
    background-color: var(--purple2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer .icons-rrss button:hover{
    background-color: var(--purple1);
}

.footer .icons-rrss i{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    background-color: #111111;
    padding: 5px;
    text-align: center;
}


@media (max-width:991px){

    .headerOne, .headerTwo{
        padding: 0px 25px;

    }

    .cardContainerWines, .cardContainerTipesOfWines, .cardContainerCountries{
        margin: 0px 25px;
    }

    .footer{
        padding: 25px;
    }

    .cardContainerTipesOfWines{
        justify-content: space-evenly;
    }

    .headerTwo h1{
        font-size: 37.5px;
    }

    .headerTwo h1 i,.headerTwo .icons i{
        font-size: 30px;
    }

    .headerTwo .icons{
        width: 85px;
    }

    .search{
        display: none;
    }

    .headerThree{
        height: 112.5px;
    }

    .headerThree nav ul{
        display: flex;
        flex-direction: column;
    }

    .countCartShopping{
        top: 70px;
        right: 12.5px;
    }

    .iconsHome{
        padding: 10px;
        gap: 5px;
    }

    .iconsHome i, .iconsHome h2{
        font-size: 12.5px;
    }

    
}